<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .Title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- http://getskeleton.com/ -->
  <link rel="stylesheet" type="text/css" href="/css/raleway.css">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">

  <!-- https://www.christopheryee.ca/pushy/ -->
  <link rel="stylesheet" type="text/css" href="/js/pushy/pushy.css">
  <link rel="stylesheet" type="text/css" href="/js/pushy/demo.css">
  <script type="text/javascript" src="/js/pushy/pushy.min.js"></script>

  <!-- https://highlightjs.org/ -->
  <link rel="stylesheet" type="text/css" href="/js/highlight.js/github.css">
  <script type="text/javascript" src="/js/highlight.js/highlight.pack.js"></script>
  <script type="text/javascript">hljs.initHighlightingOnLoad();</script>

  <!-- https://www.mathjax.org/ -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
      }
    });
  </script>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  <!-- https://piwik.org/ -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://piwik.hbs-rcs.org/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="https://piwik.hbs-rcs.org/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
</head>

<body>
  <nav class="pushy pushy-left">
    <ul class="pushy">
      <li><a href="/">Home</a></li>
      <li><a href="https://www.linkedin.com/pub/andrew-marder/20/317/369">LinkedIn</a></li>
      <li><a href="https://scholar.google.com/citations?user=yRLx6UoAAAAJ">Publications</a></li>
      <li><a href="https://github.com/amarder">GitHub</a></li>
      <li><a href="http://stackoverflow.com/users/3756632/andrew">Stack Overflow</a></li>
      <li><a href="https://twitter.com/andrewmarder">Twitter</a></li>
    </ul>
  </nav>
  <div class="site-overlay"></div>

  <div class="container" id="container">
    
    <div class="menu-btn" style="float: right;">Andrew Marder &nbsp; &#9776;</div>
    <div style="height: 40px; margin-bottom: 25px;"></div>
