<!-- Don't load Piwik if we're developing locally -->
{{ $matches := findRE "amarder.github.io" .Site.BaseURL }}
{{ if gt (len $matches) 0 }}
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://piwik.hbs-rcs.org/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="https://piwik.hbs-rcs.org/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
{{ end }}
