{{ if .IsPage }}
  {{ with .Params.twitter.image }}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{ . | absURL }}"/>
  {{ else }}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image" content="{{ .Site.Params.twitter.image | absURL }}"/>
  {{ end }}

  <meta name="twitter:title" content="{{ .Title }}"/>
  <!-- TODO: There has to be a cleaner way to throw an error. -->
  <meta name="twitter:description" content="{{ if isset .Params "description" }}{{ .Params.description }}{{ else }}{{ index .Params.throw "error" }}{{ end }}"/>
  <meta name="twitter:site" content="@{{ .Site.Params.twitter.site }}"/>
  
  <!-- TODO: This should be post-specific. -->
  {{ range .Site.Author }}
    {{ with .twitter }}<meta name="twitter:creator" content="@{{ . }}"/>{{ end }}
  {{ end }}
{{ end }}
